<main class="main-container">
  <section class="profile">
    <figure class="avatar-container">
      <img src="../../assets/restJ.jpg" alt="developer">
    </figure>
    <h1>

      Daniel Abril

    </h1>
    <p>
      Soy un apasionado desarrollador <strong class="principal-color"> Front-End </strong> con experiencia destacada en
      <span class="principal-color"> Angular </span>y
      habilidades en <span class="principal-color"> React</span>. Además, he
      tenido acercamientos al <strong class="secondary-color"> Back-End</strong> con <span class="secondary-color">
        Node.js y C#/.NET</span>.
    </p>
  </section>
</main>